edicoes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EDICOES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EDICAO" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NUMERO" type="xs:integer" />
							<xs:element name="CPF_CHEFE" type="xs:string" />
							<xs:element name="NOME_CHEFE" type="xs:string" />
							<xs:element name="DATA" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>